 Data Types and Structures Questions

1. What are data structures, and why are they important?
    - Data structures are specialized formats for organizing, processing, and storing data. They define the relationship between the data and the operations that can be performed on it.

    example  -  
        * Efficiency
        * Code Clarity and Maintenance
        * Resource Optimization

2.  Explain the difference between mutable and immutable data types with
  examples.
    
  Mutable Data Types - These can be changed after creation
       * Lists
       * Dictionaries

  Immutable Data Types - These cannot be changed once created
       * Integers
       * Floats
      
3. What are the main differences between lists and tuples in Python?
    - the difference between both are

     List:  Mutable  You can change, add, or remove elements.

     Tuple:  Immutable – Once created, it can’t be modified.

4. Describe how dictionaries store data.
    - A dictionary is a collection of key-value pairs. Each key maps to a value, and the dictionary uses a special system to store and retrieve these pairs very quickly.

      * Hash the Key
      * Find a Bucket (Slot)
      * Store Key-Value Pair

5. Why might you use a set instead of a list in Python?
    - there are mny differences which tells us why to use set instead of list-

      * Uniqueness of Elements
      * Faster Membership Tests
      
6. What is a string in Python, and how is it different from a list?
    - A string is a sequence of characters. Its used to represent text.
     
     Key Differences
                      String                   List

      *            Only characters           Any type (numbers, strings, etc.)
      *             Immutable                Mutable

7. How do tuples ensure data integrity in Python?
    - How Tuples Ensure Data Integrity

      * Immutability
      * Safer for Use as Dictionary Keys
      * Reliable in Shared or Parallel Environments

8. What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be found very quickly.

      * In Python, the dictionary (dict) is a built-in implementation of a hash table.

9. Can lists contain different data types in Python?
    - In Python, lists can contain elements of different data types — and that’s one of the things that makes them super flexible and powerful.

10. Explain why strings are immutable in Python.
    - Here are the top reasons:

      * Safety and Predictability
      * Hashability
      * Performance Optimization

11. What advantages do dictionaries offer over lists for certain tasks?
     - Advantages of Dictionaries Over Lists:-

      * Fast Lookups by Key (O(1))
      * Key-Value Pair Organization
      *  No Need to Know the Index

12. Describe a scenario where using a tuple would be preferable over a list?
     - Scenario where tuple is better here:-

      * Immutability
      * Clear structure
      * Efficiency
      * Hashable

13. How do sets handle duplicate values in Python?
     - When you create a set, Python will only keep one instance of any repeated value.

14. How does the “in” keyword work differently for lists and dictionaries?
     
  **Using in with Lists**

     * When you use in with a list, it checks if the value exists anywhere in the list.

  **Using in with Dictionaries**

      * When you use in with a dictionary, it checks only the keys — not the values.

15. Can you modify the elements of a tuple? Explain why or why not.
     -  Why not because Tuples are Immutable.
     
     A tuple is an immutable data type — once it's created, its contents cannot be changed, added to, or removed.

16. What is a nested dictionary, and give an example of its use case?
     - A nested dictionary in Python is a dictionary where each value itself can be another dictionary (or other complex data structure). It allows you to represent more complex hierarchical relationships using key-value pairs.

17. Describe the time complexity of accessing elements in a dictionary?
     - The time complexity of accessing elements in a dictionary in Python is:

      * Average Case: O(1) (Constant Time)
      * Worst Case: O(n)

18. In what situations are lists preferred over dictionaries?
     - While dictionaries are awesome for key-value access, there are definitely cases where lists are the better tool. Here's a breakdown:

     Use Lists When:
        * Order matters
        * You're working with simple collections
        * Memory efficiency

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

     - Before Python 3.7, dictionaries did not guarantee order — the internal layout depended on the hashing algorithm and how keys were stored in memory. This meant:

        * Keys could appear in any order, regardless of insertion.

        * Iterating over a dict (for key in my_dict) could give different orders each time.

This made dictionaries unreliable for ordered data, so they were considered unordered collections.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
     - The differences between there are -

       * Access method
       * Time complexity
       * Ordering

Practical Questions

In [1]:
#1.

# Create a string with your name
my_name = "Alice"

# Print the name
print("My name is", my_name)

My name is Alice

In [2]:
#2.

# Define the string
text = "Hello World"

# Find the length
length = len(text)

# Print the length
print("Length of the string is:", length)

Length of the string is: 11

In [3]:
#3.

# Define the string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the result
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

In [4]:
#4.

# Define the string
text = "hello"

# Convert to uppercase
upper_text = text.upper()

# Print the result
print("Uppercase:", upper_text)

Uppercase: HELLO

In [5]:
#5.

# Define the string
text = "I like apple"

# Replace 'apple' with 'orange'
new_text = text.replace("apple", "orange")

# Print the result
print("Updated string:", new_text)

Updated string: I like orange

In [6]:
#6.

# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("The list is:", numbers)

The list is: [1, 2, 3, 4, 5]

In [7]:
#7.

# Define the list
numbers = [1, 2, 3, 4]

# Append the number 10 to the list
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [8]:
#8.

# Define the list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3 from the list
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [9]:
#9.

# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the second element
print("The second element is:", second_element)

The second element is: b

In [10]:
#10.

# Define the list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
reversed_numbers = numbers[::-1]

# Print the reversed list
print("Reversed list:", reversed_numbers)

Reversed list: [50, 40, 30, 20, 10]

In [11]:
#11.

# Create a tuple with the elements 100, 200, 300
my_tuple = (100, 200, 300)

# Print the tuple
print("The tuple is:", my_tuple)

The tuple is: (100, 200, 300)

In [12]:
#12.

# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element using negative indexing
second_to_last = colors[-2]

# Print the second-to-last element
print("The second-to-last element is:", second_to_last)

The second-to-last element is: blue

In [13]:
#13.

# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number
min_number = min(numbers)

# Print the minimum number
print("The minimum number is:", min_number)

The minimum number is: 5

In [14]:
#14.

# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of the element 'cat'
index_of_cat = animals.index('cat')

# Print the index
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

In [15]:
#15.

# Create the tuple with three different fruits
fruits = ('apple', 'banana', 'orange')

# Check if 'kiwi' is in the tuple
is_kiwi_in_tuple = 'kiwi' in fruits

# Print the result
print("Is 'kiwi' in the tuple?", is_kiwi_in_tuple)

Is 'kiwi' in the tuple? False

In [16]:
#16.

# Create a set with the elements 'a', 'b', 'c'
my_set = {'a', 'b', 'c'}

# Print the set
print("The set is:", my_set)

The set is: {'b', 'c', 'a'}

In [17]:
#17.

# Define the set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the empty set
print("The set after clearing all elements:", my_set)

The set after clearing all elements: set()

In [18]:
#18.

# Define the set
my_set = {1, 2, 3, 4}

# Remove the element 4 from the set
my_set.remove(4)

# Print the updated set
print("The set after removing 4:", my_set)

The set after removing 4: {1, 2, 3}

In [19]:
#19.

# Define the two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the two sets
union_set = set1 | set2  # or use set1.union(set2)

# Print the union of the sets
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

In [20]:
#20.

# Define the two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection of the two sets
intersection_set = set1 & set2  # or use set1.intersection(set2)

# Print the intersection of the sets
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

In [21]:
#21.

# Create the dictionary
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Print the dictionary
print("The dictionary is:", person)

The dictionary is: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [22]:
#22.

# Define the dictionary
person = {'name': 'John', 'age': 25}

# Add the new key-value pair
person["country"] = "USA"

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23.

# Define the dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value associated with the key 'name'
name_value = person['name']

# Print the value
print("The value associated with the key 'name' is:", name_value)

The value associated with the key 'name' is: Alice

In [24]:
#24.

# Define the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key 'age' from the dictionary
del person['age']

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [25]:
#25.

# Define the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if the key 'city' exists in the dictionary
if "city" in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [26]:
#26.

# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Print the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [27]:
#27.

import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [10, 10, 66, 91, 95]

In [28]:
#28.

# Create a list with strings
words = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Print the element at the third index (index 3)
print("Element at index 3:", words[3])

Element at index 3: date

In [29]:
#29.

# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine the dictionaries using the unpacking operator **
combined_dict = {**dict1, **dict2}

# Print the combined dictionary
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
#30.

# Define a list of strings
string_list = ['apple', 'banana', 'cherry', 'apple', 'banana']

# Convert the list to a set
string_set = set(string_list)

# Print the set
print("Set from list:", string_set)

Set from list: {'cherry', 'banana', 'apple'}